body {
  background: linear-gradient(-45deg, #7bdff2, #b2f7ef, #eff7f6, #f7d6e0, #f2b5d4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
